@use "./src/styles/mise.scss";
@use "./src/components/tokens/utils/styles/utils.scss";

.list {
  @include utils.previewContainer();
  font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 2rem;

  & + * {
    margin-top: 3rem;
  }
}

.item {
  display: grid;
  column-gap: 1rem;
  padding: 2rem 0;

  & + & {
    border-top: 1px solid rgba(51,51,51,0.1);
  }

  &:last-child {
    padding-bottom: 0;
  }

  &--is-heading {
    color: rgba(51,51,51,0.6);
    font-weight: 700;
    padding: 0 0 2rem;

    & + .item {
      border-top-color: rgba(51,51,51,0.6);
    }
  }

  &__key {
    color: rgba(51,51,51,0.6);
  }

  &__key,
  &__value {
    align-self: end;
    display: block;
    word-wrap: break-word;
  }
}

.spacing {
  display: inline-block;
  background-color: red;
}