@import "../../../../../styles/main.scss";

.wrapper {
	:global(.editorial-text) {
		line-height: 1.63;
	}
}

.headline {
	font: $fHeadingMd;
	margin-bottom: 15px;
}

.metaText {
	font: 1rem/1.63 $merriweather;
	margin: 18px 0;
	letter-spacing: normal;
}

.metaTextTitle {
	font: 0.75rem/1.63 $secondaryFont;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-right: 8px;
	line-height: 1.13;
}