@use "./src/styles/mise.scss";

.link {
  @include mise.font(text, primary, md, normal, italic);

  border-bottom: 2px solid mise.color(primary, mid);
  color: mise.color(neutral, dark);
  display: inline-block;
  transition: background-color 0.2s linear;

  &:focus,
  &:hover {
    background-color: mise.color(primary, light, shade);
  }
}
