@use "./src/styles/mise.scss";

$colors: red orange yellow green blueGreen blue purple;

@mixin colors {
  @each $current-color in $colors {
    &--is-#{$current-color} {
      color: mise.color(neutral, white);
      
      &::before {
        background-color: mise.color(editorial, $current-color);
      }
    }
  }
}

.container {
  @include colors;

  &--is-white {
    &::before {
      background-color: mise.color(neutral, white);
    }
  }

  padding: mise.spacing(x4) 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    right: 50%;
    top: 0;
    width: 100vw;
  }

  &--is-column-5-8 {
    &::before {  
      @media only screen and (min-width: mise.breakpoint(lg)) {
        margin-left: calc(-50vw + 30%);
        margin-right: calc(-50vw + 30%);
      }
    }
  }
}

.content {
  position: relative;
}