@use "./src/styles/mise.scss";

$colors: red orange yellow green blueGreen blue purple;

@mixin colors {
  @each $current-color in $colors {
    &--is-#{$current-color} { 
      background-color: mise.color(editorial, $current-color);
    }
  }
}

.container {
  color: mise.color(neutral, white);
  
  @include colors;
}

.content {
  padding: mise.spacing(x4);
}