@import "./shared_colors";

// Color Palette
$cBlack: $cNBlack;
$cDenim: #416490;
$cArapawa: #2e4a69;
$cMalibu: #69a0e1;
$cCornflower: #e6f1ff;
$cAliceBlue: #f7faff;

// Brand - $cB
$ccoCBPrimary: $cDenim;
$ccoCBPrimaryHover: $cArapawa;
$ccoCBFont: $cBlack;
$ccoCBFontHover: $cDenim;
$ccoCBLink: $cMalibu;
$ccoCBLinkHover: $cCornflower;

// Backgrounds - $cBG
$ccoCBGPage: $cNWhite;
$ccoCBGCallout: $cAliceBlue;

