@import "./_shared_colors";

// Color Palette
$cCork: #3f2b1e;
$cSquirrel: #94856B;
$cDijon: #eed681;
$cSand: #fff5c2;
$cLinen: #fcf9f3;
$cIvory: #fffdeb;

// Brand - $cB
$cioCBPrimary: $cSquirrel;
$cioCBPrimaryHover: $cCork;
$cioCBFont: $cCork;
$cioCBFontHover: $cSquirrel;
$cioCBLink: $cDijon;
$cioCBLinkHover: $cSand;

// Backgrounds - $cBG
$cioCBGPage: $cLinen;
$cioCBGCallout: $cIvory;
