// Color Palette
$cTomato: #D73A15;
$cRust: #A72E12;
$cColdPool: #1A7AC4;
$cDarkColdPool: #0466B0;
$cWhiteSmoke: #F5F5F5;
$cSilver: #C2C2C2;
$cNobel: #999999;
$cMidnight: #1A3352;
$cSienna: #B25B18;
$cViolet: #321A52;
$cPacific: #1775C2;
$cGoldClay: #857351;
$cDarkMagenta: #521A2D;
$cTimber: #405700;
$cBlueLagoon: #005E71;
$cTeal: #167A7A;
$cDeepSea: #0B3C3D;

// Neutrals - $cN
$cNBlack: #000000;
$cNBlackTransparent: rgba(0, 0, 0, 0.7);;
$cNWhite: #ffffff;
$cNGrayLight: $cWhiteSmoke;
$cNGray: $cSilver;
$cNGrayDark: $cNobel;

// Accents - $cA
$cAAction: $cTomato;
$cAActionHover: $cRust;
$cAMarketing: $cColdPool;
$cAMarketingHover: $cDarkColdPool;

// Backgrounds - $cBG
$cBGHeroOne: $cMidnight;
$cBGHeroTwo: $cSienna;
$cBGHeroThree: $cViolet;
$cBGHeroFour: $cPacific;
$cBGHeroFive: $cGoldClay;
$cBGHeroSix: $cDarkMagenta;
$cBGHeroSeven: $cTimber;
$cBGHeroEight: $cBlueLagoon;
$cBGHeroNine: $cTeal;
$cBGHeroTen: $cDeepSea;
