@use "./src/styles/mise.scss";

.container {
    @include mise.font(display, primary, sm);

    color: mise.color(neutral, white, base);
    position: relative;
    overflow: hidden;
    height: 548px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (min-width: mise.breakpoint(lg)) {
        background: linear-gradient(
            180deg,
            mise.color(primary, dark, base) 0%,
            440px,
            mise.color(neutral, light, base) 440px,
            mise.color(neutral, light, base) 100%,
        );
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.text {
    width: 100%;
    height: 250px;
    background: linear-gradient(
        0deg,
        mise.color(primary, dark, base) 0%,
        85%,
        rgba(117, 47, 52, 0) 100%,
    );
    padding: mise.spacing(x4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (min-width: mise.breakpoint(lg)) {
        background: none;
        max-width: 330px;
        margin-top: 150px;
        padding-left: 0;
        height: unset;
        position: absolute;
        right: 0;
    }
}

.headline {
    margin-top: 0;
    font-size: 32px;  // TODO: lock at 32 px

    @media only screen and (min-width: mise.breakpoint(lg)) {
        margin-left: 90px;
    }
}

.attribution {
    border-top: 2px solid mise.color(primary, mid, base);
    padding-top: mise.spacing(x3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: mise.breakpoint(lg)) {
        padding-left: 90px;
    }
}

.heroImage {
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    height: 100%;
    width: 100%;

    @media only screen and (min-width: mise.breakpoint(lg)) {
        position: relative;
        object-position: unset;
        height: 478px;
        width: 854px;
        z-index: unset;
    }
}