@use "./src/styles/mise.scss";

.authors {
  display: flex;
  align-items: center;
  column-gap: mise.spacing(x2);

  &--is-light {
    .author-names {
      color: mise.color(neutral, white);
    }
  }

  &--is-dark {
    .author-names {
      color: mise.color(neutral, dark, mid);
    }
  }

  &--has-two {
    .author-image-list__item + .author-image-list__item {    
      margin-left: calc(mise.spacing(x1) * -1);
    }
  }

  &--has-many {
    .author-image-list__item + .author-image-list__item {    
      margin-left: calc(mise.spacing(x2) * -1);
    }
  }
}

.author-image-list  {
  display: flex;
  
  &__item  {
    position: relative;
    z-index: mise.zIndex(page, 2);

    &:first-child {
      z-index: mise.zIndex(page, 3);
    }

    &:last-child {
      z-index: mise.zIndex(page, 1);
    }
  }
}

$authorImageSize: 2.5rem;

.author-image {
  display: block;
  border: 1px solid mise.color(neutral, white);
  border-radius: calc($authorImageSize / 2);
  height: $authorImageSize;
  min-width: $authorImageSize;
}

.author-names {
  @include mise.font(text, secondary, md);

  display: -webkit-box;
  line-height: 1.125;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author-name {
  &:hover {
    text-decoration: underline;
  }
}