@import "../../../../../styles/main.scss";

.wrapper {
  color: $cBFont;
  margin-bottom: 30px;

  :global(.editorial-text) {
    line-height: 1.63;
  }

  // TODO(Brand Theme): remove after brand consolidation
  :global(.cco-theme) & {
    color: $ccoCBFont;
  }

  // TODO(Brand Theme): remove after brand consolidation
  :global(.cio-theme) & {
    color: $cioCBFont;
  }
}

.headline {
  font: $fHeadingMd;
  margin-bottom: 15px;
}

.metaText {
  font: 1rem/1.63 $accentFont;
  margin: 18px 0;
  letter-spacing: normal;
}

.metaTextTitle {
  font: 0.75rem/1.63 $secondaryFont;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-right: 8px;
  line-height: 1.13;
}