@use "./src/styles/mise.scss";

.peekLinkContainer {
  display: flex;
  padding: mise.spacing(x2) mise.spacing(x4);
}

.peekCardLink {
  @include mise.font(text, secondary, md, bold);
  border-bottom: 2px solid #8FDEE3;
  color: mise.color();
}

.peekCardSeparator {
  @include mise.font(text, secondary, md, bold);
  padding: 0 3px;
}
