@import "../../../../../styles/main.scss";

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  max-width: 848px;
  width: 100%;
}

.pageIndicator {
  color: $cBFont;
  font: 1rem/1 $secondaryFont;
}

.hideDesktop {
  // TODO: add breakpoint tokens
  @media (min-width: 1025px) {
    display: none;
  }
}
