@use "./src/styles/mise.scss";

.content {
  a {
    border-bottom: 2px solid mise.color(secondary, mid);
    color: mise.color(neutral, dark);
    display: inline-block;
    transition: background-color 0.2s linear;
  
    &:focus,
    &:hover {
      background-color: mise.color(secondary, mid, tint);
    }
  }
}