@import "../../../styles/main.scss";

.wrapper {
  @include underlined-link;
  color: $cBFont;
  em {
    font-style: italic;
  }
}

.primary {
  font-family: $primaryFont;

  strong {
    font-family: $secondaryFont;
  }
}

.accent {
  font-family: $accentFont;

  strong {
    font-weight: bold;
  }
}
.secondary {
  font-family: $secondaryFont;
}
