@import "../../../styles/main.scss";

.wrapper {
  @include underlined-link;

  color: $cBFont;

  em {
    font-style: italic;
  }

  // TODO(Brand Theme): remove after brand consolidation
  :global(.cco-theme) & {
    color: $ccoCBFont;
  }

  // TODO(Brand Theme): remove after brand consolidation
  :global(.cio-theme) & {
    color: $cioCBFont;
  }
}

.primary {
  font-family: $primaryFont;

  strong {
    font-family: $secondaryFont;
  }
}

.accent {
  font-family: $accentFont;

  strong {
    font-weight: bold;
  }
}
.secondary {
  font-family: $secondaryFont;
}
