@import "../../styles/typography/_fonts.scss";

/*
 * This module is documentation-only. It is not meant to be pulled into any
 * particular component.
 */

html {
  font-size: $baseFontSize;
}

.heading1 {
  font: $fHeadingLg;
}

.heading2 {
  font: $fHeadingMd;
}

.heading3 {
  font: $fHeadingSm;
}

.bodySmall {
  font: $fBodySm;
}

.bodyMedium {
  font: $fBodyMd;
}

.fCtaPnr {
  font: $fBodyMd;
  letter-spacing: $fLSMd;
}

.fCtaPnb {
  font: 1rem/1.5 $proximaNovaBold;
  letter-spacing: $fLSMd;
}

.proximaNova {
  font: $fBodyMd;
}

.proximaNovaBold {
  font: 1rem/1.5 $proximaNovaBold;
}

.clarendonBold {
  font: 1rem/1.5 $clarendonBold;
}

.merriweather {
  font: 1rem/1.5 $merriweather;
}

.chippewaFalls {
  font: 1rem/1.5 $chippewaFalls;
}
