@use "./src/styles/mise.scss";

.topBar {
  height: 4px;
  background-color: mise.color(primary, mid, base);
  border-radius: 4px 4px 0 0;
}

.wrapper {
  background-color: mise.color(neutral, light, tint);
  padding: mise.spacing(x2);
}

.headline {
  @include mise.font(display, primary, sm, bold);
  margin-top: 0;
}

.favoritesWrapper {
  min-height: 150px;
  margin: 0 mise.spacing(x2);
}

.personalizedWrapper {
  border-top: 1px solid mise.color(neutral, light, base);
  padding: mise.spacing(x3) 0 mise.spacing(x3);
  margin: 0 mise.spacing(x2);
}

.subHeadWrapper {
  display: flex;
  align-items: center;
  :global(.icon) {
    width: 16px;
    max-height: 20px;
    margin-right: mise.spacing(x2);
  }
  :global(.icon-fill) {
    fill:  mise.color(primary, mid, base);
  }
}

.subHeading {
  margin: 0;
  color: mise.color(neutral, dark, tint);
  @include mise.font(display, secondary, sm, bold);
}

.ctaCopy {
  margin-top: mise.spacing(x2); 
  @include mise.font(text, primary, md, normal, italic)
}

.arrowRight {
  border: solid mise.color(neutral, dark, tint);
  border-width: 0 3px 3px 0;
  margin-left:  mise.spacing(x2);
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.signupFooter {
  padding: mise.spacing(x3); 
  background-color: mise.color(neutral, light, base);
  :global(.editorial-text) {
    a {
      text-decoration: none;
      background-image: linear-gradient(transparent 91%, mise.color(primary, mid, base) 91%);
    }
  }
}