$sourceColors: (
  smoke: #f5f5f5,
  silver: #c2c2c2,
  iron: #767f81,
  eclipse: #3d3d3d,
  rose: #f9efec,
  tomato: #d73a19,
  beet: #752f34,
  turquoiseTint: #d1fcff,
  turquoise: #8fdee3,
  turquoiseShade: #81b8bb,
  mintTint: #6ba6aa,
  mint: #437072,
  mintShade: #345455,
  blueberryTint: #5395cb,
  blueberry: #1775c2,
  blueberryShade: #0f4c7e,
  spinachTint: #7eaF5d,
  spinach: #408612,
  spinachShade: #3d631e,
  sienna: #b25b18,
  goldClay: #857351,
  timber: #405700,
  deepSea: #0b3c3d,
  midnight: #1a3352,
  violet: #321a52,
);

@function sourceColor($color) {
  @return map-get($sourceColors, $color);
}

$colors: (
  neutral: (
    light: (
      tint: #ffffff,
      base: sourceColor(smoke),
      shade: sourceColor(silver),
    ),
    dark: (
      tint: sourceColor(iron),
      base: sourceColor(eclipse),
      shade: #000000,
    ),
  ),
  primary: (
    light: (
      tint: #ffffff,
      base: sourceColor(rose),
      shade: darken(sourceColor(rose), 2.5%),
    ),
    mid: (
      tint: lighten(sourceColor(tomato), 10%),
      base: sourceColor(tomato),
      shade: darken(sourceColor(tomato), 10%),
    ),
    dark: (
      tint: lighten(sourceColor(beet), 10%),
      base: sourceColor(beet),
      shade: darken(sourceColor(beet), 10%),
    ),
  ),
  secondary: (
    mid: (
      tint: sourceColor(turquoiseTint),
      base: sourceColor(turquoise),
      shade: sourceColor(turquoiseShade),
    ),
    dark: (
      tint: sourceColor(mintTint),
      base: sourceColor(mint),
      shade: sourceColor(mintShade),
    ),
  ),
  marketing: (
    blue: (
      tint: sourceColor(blueberryTint),
      base: sourceColor(blueberry),
      shade: sourceColor(blueberryShade),
    ),
    green: (
      tint: sourceColor(spinachTint),
      base: sourceColor(spinach),
      shade: sourceColor(spinachShade),
    ),
  ),
  editorial: (
    primary: (
      base: sourceColor(beet),
    ),
    secondary: (
      base: sourceColor(mintShade),
    ),
    orange: (
      base: sourceColor(sienna),
    ),
    gold: (
      base: sourceColor(goldClay),
    ),
    green: (
      base: sourceColor(timber),
    ),
    blueGreen: (
      base: sourceColor(deepSea),
    ),
    blue: (
      base: sourceColor(midnight),
    ),
    purple: (
      base: sourceColor(violet),
    ),
  ),
);

@function color($keys...) {
  $value: $colors;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}

// Exports
// This allows variables to be used with ./src/components/tokens/Colors/Colors.ts
:export {
  // Source Color
  @each $color, $value in $sourceColors {
    sourceColors-#{$color}: $value;
  }
  // Color
  @each $category, $value in $colors {
    @each $hue, $value in $value {
      @each $variant, $value in $value {
        colors-#{$category}-#{$hue}-#{$variant}: $value;
      }
    }
  }
}
