$breakpoints: (
  sm: 30rem, // 480px
  md: 48rem, // 768px
  lg: 64rem, // 1024xx
  xl: 75rem, // 1200px
);

@function breakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

$zIndexes: (
  pageBehind: -100,
  page: 0,
  pageFront: 100,
  overlay: 200,
  overlayFront: 300,
);

@function zIndex($level, $adjustment) {
  $zIndex: map-get($zIndexes, $level);
  @if $zIndex >= 0 and $adjustment > 99 {
    @return $zIndex + 99;
  } @else if $zIndex == -100 $adjustment > 0 {
    @return $zIndex - $adjustment;
  } @else if $zIndex == -100 $adjustment < -99 {
    @return $zIndex - 99;
  } @else {
    @return $zIndex + $adjustment;
  }
}

$spacingUnit: 0.25rem; // 4px

$spacing: (
  x1: $spacingUnit,       // 0.25rem/4px
  x2: $spacingUnit * 2,   // 0.5rem/8px
  x3: $spacingUnit * 3,   // 0.5rem/12px
  x4: $spacingUnit * 4,   // 1rem/16px
  x6: $spacingUnit * 6,   // 1.5rem/24px
  x8: $spacingUnit * 8,   // 2rem/32px
  x10: $spacingUnit * 10, // 2rem/40px
  x12: $spacingUnit * 12, // 2rem/48px
);

@function spacing($multiplier) {
  @return map-get($spacing, $multiplier);
}

$content: (
  maxWidth: 1200px,
  gutter: (
    base: spacing(x1),
    bpXs: spacing(x1),
    bpSm: spacing(x1),
    bpMd: spacing(x4), 
    bpLg: spacing(x8),
    bpXl: spacing(x8),
  ),
);

$grid: (
  column: (
    full: 100%,
    threeQuarters: 75%,
    twoThirds: 66.666%,
    half: 50%,
    third: 33.333%,
    quarter: 25%,
  ),
  gap: (
    base: spacing(x1),
    bpXs: spacing(x1),
    bpSm: spacing(x1),
    bpMd: spacing(x4), 
    bpLg: spacing(x4),
    bpXl: spacing(x4),
  )
);

// Exports
// This allows variables to be used with ./src/components/tokens/layout/Layout.ts
:export {
  // Breakpoints
  @each $breakpoint, $value in $breakpoints {
    breakpoint-#{$breakpoint}: $value;
  }
  // Z-Indexes
  @each $zIndex, $value in $zIndexes {
    zIndex-#{$zIndex}: $value;
  }
  // Spacing Unit
  spacingUnit: $spacingUnit;
  // Spacing
  @each $multiplier, $value in $spacing {
    spacing-#{$multiplier}: $value;
  }
  // Content
  @each $prop, $value in $content {
    @if type-of($value) == map {
      @each $option, $value in $value {
        content-#{$prop}-#{$option}: $value;
      }
    } @else {
      content-#{$prop}: $value;
    }
  }
  // Grid
  @each $prop, $value in $grid {
    @each $option, $value in $value {
      grid-#{$prop}-#{$option}: $value;
    }
  }
}
