$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$space: 0.25rem; // 4px

$spacing: (
  xs: $space,     // 0.25rem/4px
  sm: $space * 2, // 0.5rem/8px
  md: $space * 4, // 1rem/16px
  lg: $space * 6, // 1.5rem/24px
  xl: $space * 8, // 2rem/32px
  xxl: $space * 10, // 2rem/40px
  xxxl: $space * 12, // 2rem/48px
);

@function miseSpacing($size) {
  @return map-get($spacing, $size);
}

$content: (
  container: 1200px,
  maxContainer: calc(#{container} - #{miseSpacing(xl)}),
  containerGutter: (
    bpXs: miseSpacing(xs),
    bpSm: miseSpacing(xs),
    bpMd: miseSpacing(md), 
    bpLg: miseSpacing(xl),
    bpXl: miseSpacing(xl),
  ),
  column: (
    full: 100%,
    threeQuarters: 75%,
    twoThirds: 66.666%,
    half: 50%,
    third: 33.333%,
    quarter: 25%,
  ),
  columnGutter: (
    bpXs: miseSpacing(xs),
    bpSm: miseSpacing(xs),
    bpMd: miseSpacing(md), 
    bpLg: miseSpacing(md),
    bpXl: miseSpacing(md),
  )
);

@function miseContent($keys...) {
  $value: $fontFamilies;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}