@import "../../../../../styles/main.scss";

// **** General Cell Styles ****
.cell {
  display: flex;
  flex-direction: column;
  background-color: $cNWhite;
  padding: 0 12px 20px;
  width: 100%;
}

.informationalCell {
  min-width: 272px;
  max-width: 272px;
}

.comparisonCell {
  min-width: 200px;
  max-width: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 20px;
}

.divider {
  border-top: solid 1px $cNGray;
}

// **** Out of Bounds Styles ****
// TODO: add breakpoint tokens
.oobMobile {
  @media (max-width: 768px) {
    filter: opacity(0.5);
  }
}

.oobTablet {
  @media (min-width: 769px) and (max-width: 1024px) {
    filter: opacity(0.5);
  }
}

.oobDesktop {
  @media (min-width: 1025px) {
    filter: opacity(0.5);
  }
}

// **** Column Header Styles ****
.colHeader {
  font: 1.125rem/1 $secondaryFont;
  padding-top: 20px;
}

.colHeaderDetailed {
  justify-content: flex-start;
  padding-top: 20px;

  :global(.sticker) {
    margin-top: 14px;
  }
}

.chdImage {
  max-height: 100px;
  max-width: 100px;
}

.chdTitle {
  font: 1rem/1.25 $secondaryFont;
  margin-top: 14px
}

.affiliate {
  font: 1rem/1.38 $primaryFont;
  margin-top: 6px;
  width: 97%;
}

.affiliateArrow {
  color: $cAAction;
}

// **** Row Header Styles ****
.rowHeader {
  background-color: transparent;
  font: 1.125rem/1 $secondaryFont;
  padding-left: 0;
  padding-right: 0;

  @media(max-width: 768px) {
    display: none;
  }
}

.rowHeaderPadding {
  padding-top: 20px;
}

.inlineRowHeading {
  background-color: #E9F0F0;
  font: 1rem/1 $secondaryFont;
  margin-bottom: 8px;
  width: fit-content;

  @media (min-width: 769px) {
    display: none;
  }
}

// **** Icon and Text Cell Styles ****
.icon,
.text {
  font: 1rem/1.63 $primaryFont;
}

.icon {
  text-transform: capitalize;
}

.no {
  :global(.circular-icon) {
    // TODO: add this to color accent token
    background-color: #a72e14;
  }
}

.yes {
  :global(.circular-icon) {
    // TODO: add this to color accent token
    background-color: #40861e;
  }
}

.iconWrapper {
  align-items: center;
  display: flex;
}

.iconSvg {
  margin-right: 8px;

  :global(.circular-icon) {
    max-height: 15px;
    max-width: 15px;
  }
}
